<section class="header-section">
  <header class="main-header">
    <div class="logo-wrapper">
      <button type="button" class="hamburguer-menu" rel="List menu" (click)="openMenu()">
        List menu
      </button>

      <a class="logo" href="javascript:void(0);">logo</a>
    </div>

    <div class="nav-wrapper">
      <nav class="nav-menu">
        <button type="button" id="close-menu-button" (click)="closeMenu()"></button>
        <ul>
          <li><a href="javascript:void(0);">Collections</a></li>
          <li><a href="javascript:void(0);">Men</a></li>
          <li><a href="javascript:void(0);">Women</a></li>
          <li><a href="javascript:void(0);">About</a></li>
          <li><a href="javascript:void(0);">Contact</a></li>
        </ul>
      </nav>
    </div>

    <div class="profile">
      <ecs-cart [cartProducts]="cartProducts"></ecs-cart>

      <button type="button" class="avatar" rel="Avatar">
        Avatar
      </button>
    </div>

  </header>
</section>
