@import "../../../variables";

.header-section {
  width: 100%;
  box-shadow: 2px 1px 5px black;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.hamburguer-menu {
  display: block;
  background: url("/assets/img/icon-menu.svg") no-repeat;
  border: none;
  text-indent: -9999px;
  width: 16px;
  height: 15px;
}

#close-menu-button {
  display: block;
  background: url("/assets/img/icon-close.svg");
  border: none;
  text-indent: -9999px;
  width: 14px;
  height: 15px;
}

.nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  transition: left .3s, transform .3s;
  width: 0;
  height: 100%;
  z-index: 2;
  transform: scaleX(0);
}

.nav-menu {
  background-color: white;
  padding: 20px;
  min-width: 200px;
  height: 100%;
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    li {
      margin: 10px 3px 3px 0;

      a {
        color: $color-accent-very-dark-blue;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}

.logo {
  display: block;
  background: url("/assets/img/logo.svg") no-repeat;
  text-indent: -9999px;
  width: 138px;
  height: 20px;
  margin-left: 20px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.cart {
  background: url("/assets/img/icon-cart.svg") no-repeat;
  border: none;
  text-indent: -9999px;
  width: 22px;
  height: 20px;
}

.avatar {
  background: url("/assets/img/image-avatar.png") no-repeat center;
  border: none;
  text-indent: -9999px;
  width: 22px;
  height: 20px;
  background-size: cover;
  margin-left: 20px;
}

.cart:hover,
.hamburguer-menu:hover {
  opacity: .5;
}
